@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@1&display=swap');
body {
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    padding: -10px;
    text-align: left;
    line-height: 140%;
    margin-bottom:-10px;
}

.bital{
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.blital{
    font-family: 'Mulish', sans-serif;
    color: blue;
    font-style: italic;
}

.nital{
    font-family: 'Mulish', sans-serif;
    font-style: italic;
}

.hital{
    font-family: 'Mulish', sans-serif;
    color:#E83E8C;
    font-style: italic;
}

h1{
    font-size: 24px;
    /* color: black; */
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    margin-top : 1px;
    margin-bottom : 10px;
    /* text-shadow: 2px 2px #83c5be; */
}

h2{
    font-size: 22px;
    /* color: black; */
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    margin-top : 1px;
    margin-bottom : 10px;
    /* text-shadow: 2px 2px #83c5be; */
}

.blue {
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    color: blue;
}

.latex{
    font-size: 15px;
}

h3{
    font-size: 18px;
    color: blue;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    margin-top : 1px;
    margin-bottom : 10px;
    /* text-shadow: 2px 2px #83c5be; */
}
